{% extends 'base.html.twig' %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/ks/kscode-projects/kscode-form-app/src/Controller/PanelController.php'|file_link(0) }}">src/Controller/PanelController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/ks/kscode-projects/kscode-form-app/templates/panel/index.html.twig'|file_link(0) }}">templates/panel/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
